<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vn.com.it.truongpham.appnote">

    <application
        android:name=".ApplicationNote"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
       >
        <activity android:name=".ListNoteActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            ></activity>
        <activity android:name=".DetailNoteActivity" />
        <activity android:name=".NoteBookActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>